header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 48px;
    background-color: var(--secondary-700);
}

#header_main{
    display: flex;
    flex-direction: row;
    gap:10px;
}

#logo_area{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
}